body {
  font-size: 1.5rem;
}

table {
  padding-top: 8rem;
}

td, th {
  padding: 1rem;
  vertical-align: top;
}

.container {
    max-width: 194rem;
}

.border-left {
  border-left: 0.3rem solid #121212;
}

.border-right {
  border-right: 0.3rem solid #121212;
}

.up {
  background-color: #00ff0044;
}

.down, .faulty {
  background-color: #ff000044;
}

.flag {
  background-color: #ffff0044;
}

.recovering {
  background-color: #0000ff44;
}

.row {
  display: flex;
  flex-direction: row;
  width: 98%;
  justify-content: space-between;
}

.large {
  flex-grow: 5;
  margin-top: 2rem;
  text-align: center;
}

.fixed {
  position: fixed;
  background-color: white;
}

input[type=range] {
  margin: 0 auto;
  width: 80%;
}